<form [formGroup]="form" (ngSubmit)="OnRegisterClick()" class="px-md-2">

  <div class="form-group mb-2">
    <label for="user-registration-name" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="user-registration-email" formControlName="Email" required />
      <div *ngIf="formSubmittedAtLeastOnce && email!.invalid" class="alert alert-danger">
        <div *ngIf="email!.errors?.['required']">
          La email &grave; obbligatoria
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mb-2">
    <label for="user-registration-name" class="col-sm-2 col-form-label">Nome</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="user-registration-name" formControlName="Name" required />
      <div *ngIf="formSubmittedAtLeastOnce && name!.invalid" class="alert alert-danger">
        <div *ngIf="name!.errors?.['required']">
          Il nome è obbligatorio
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mb-2">
    <label for="user-registration-surname" class="col-sm-2 col-form-label">Cognome</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="user-registration-surname" formControlName="Surname" required />
      <div *ngIf="formSubmittedAtLeastOnce && surname!.invalid" class="alert alert-danger">
        <div *ngIf="surname!.errors?.['required']">
          Il cognome è obbligatorio
        </div>
      </div>
    </div>
  </div>

  <div class="input-group mb-2 mr-sm-2">
    <label for="user-registration-birthdate" class="col-md-12 col-form-label">Data di nascita</label>
    <div class="input-group-append">
      <div class="input-group-text"
           (click)="d.toggle()">
        &nbsp;<i class="fa fa-calendar"></i>&nbsp;
      </div>
    </div>
    <input type="text"
           autocomplete="off"
           ngbDatepicker
           #d="ngbDatepicker"
           (click)="d.toggle()"
           class="form-control"
           formControlName="BirthDate"
           name="user-registration-birthdate"
           placeholder="Seleziona una data">
    <div *ngIf="formSubmittedAtLeastOnce && birthDate!.invalid" class=" col-md-12 alert alert-danger">
      <div *ngIf="birthDate!.errors?.['required']">
        La data di nascita è obbligatoria.
      </div>
    </div>
  </div>

  <div class="form-group mb-2">
    <label for="user-registration-telephone" class="col-sm-2 col-form-label">Telefono</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="user-registration-telephone" formControlName="Telephone" required />
      <div *ngIf="formSubmittedAtLeastOnce && telephone!.invalid" class="alert alert-danger">
        <div *ngIf="telephone!.errors?.['required']">
          Il numero di telefono è obbligatorio
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mb-2">
    <label for="user-registration-gender" class="col-sm-2 col-form-label">Sesso</label>
    <div class="col-sm-12">
      <select class="form-control" name="user-registration-gender" formControlName="Gender" required data-live-search="true">
        <option value={{Gender.MALE}}>Uomo</option>
        <option value={{Gender.FEMALE}}>Donna</option>
      </select>
      <div *ngIf="formSubmittedAtLeastOnce && gender!.invalid" class="alert alert-danger">
        <div *ngIf="gender!.errors?.['required']">
          Il sesso è obbligatorio.
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success btn-lg mb-1" [disabled]="RegisterButtonDisabled">Registrati</button>

</form>
