<div class="container">
  <div class="row">
    <div class="col-md-12 pb-2">
      <div class="btn-group float-end" role="group">
        <app-add-problems-button [CompetitionId]="Competition.Id">
        </app-add-problems-button>&nbsp;
        <app-edit-colors-button [CompetitionId]="Competition.Id">
        </app-edit-colors-button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3" *ngFor="let group of ProblemGroups">
  <div class="col-sm-12">
    <ng-container *ngFor="let problem of group.Problems">
      <app-editable-problem [Competition]="Competition"
                            [Problem]="problem"
                            [Color]="group.Color"
                            (OnEdit)="OnProblemEdited()">
    </app-editable-problem>
    </ng-container>
  </div>
</div>
