<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group float-end" role="group">
        <app-add-problems-button [CompetitionId]="CompetitionId">
        </app-add-problems-button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3" *ngFor="let group of ProblemGroups">
  <div class="col-sm-12">
    <ng-container *ngFor="let problem of group.Problems">
      <app-editable-problem [CompetitionId]="CompetitionId"
                            [Problem]="problem"
                            [Color]="group.Color">
    </app-editable-problem>
    </ng-container>
  </div>
</div>
