<div class="col-md-12" *ngIf="Ready">
  <form [formGroup]="form" class="row" (ngSubmit)="OnSaveClick()" novalidate>
    <div class="col-md-6">
      <div class="form-group mb-2">
        <label for="competition-title" class="col-sm-2 col-form-label">Titolo</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" name="competition-title" formControlName="Title" required />
          <div *ngIf="formSubmittedAtLeastOnce && title!.invalid" class="alert alert-danger">
            <div *ngIf="title!.errors?.['required']">
              Il titolo è obbligatorio.
            </div>
          </div>
        </div>
      </div>
      <div class="input-group mb-2">
        <label for="competition-date" class="col-md-12 col-form-label">Data</label>
        <div class="input-group-append">
          <div class="input-group-text"
               (click)="d.toggle()">
            &nbsp;<i class="fa fa-calendar"></i>&nbsp;
          </div>
        </div>
        <input type="text"
               autocomplete="off"
               ngbDatepicker
               #d="ngbDatepicker"
               [minDate]="{year: 2023, month:1, day: 1}"
               [maxDate]="{year: 2030, month: 12, day: 31}"
               (click)="d.toggle()"
               class="form-control"
               formControlName="Date"
               name="competition-date"
               placeholder="Seleziona una data">
        <div *ngIf="formSubmittedAtLeastOnce && date!.invalid" class=" col-md-12 alert alert-danger">
          <div *ngIf="date!.errors?.['required']">
            La data è obbligatoria.
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="competition-description" class="col-sm-2 col-form-label">Descrizione</label>
        <div class="col-sm-12">
          <angular-editor formControlName="Description" name="description" [config]="descriptionEditorConfig" required></angular-editor>
          <div *ngIf="formSubmittedAtLeastOnce && description!.invalid" class="alert alert-danger">
            <div *ngIf="description!.errors?.['required']">
              La descrizione è obbligatoria.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="competition-image" class="col-sm-2 col-form-label">Immagine</label>
        <input type="file"
               class="form-control-file"
               name="competition-cover-image"
               (change)="OnCoverImageUpload($event)">
      
        <img *ngIf="competitionInfo.CoverImage"
             [src]="competitionInfo.CoverImage | sanitizeUrl" class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <div class="col-md-6">
      <h4>Email di conferma</h4>
      <div class="alert alert-warning info-email" role="alert">
          Puoi utilizzare i seguenti placeholder:<br />
          {{ "{TitoloGara} per il titolo gara"}}<br />
          {{ "{DataGara} per mostrare la data"}}<br />
          {{ "{Partecipante} per mostrare il nome e il cognome dell'iscritto"}} 
      </div>
      <div class="form-group mb-2">
        <label for="competition-description" class="col-sm-6 col-form-label">Oggetto</label>
        <div class="col-sm-12">
          <textarea class="form-control" name="competition-email" formControlName="EmailSubject" required></textarea>
          <div *ngIf="formSubmittedAtLeastOnce && emailSubject!.invalid" class="alert alert-danger">
            <div *ngIf="emailSubject!.errors?.['required']">
              L'oggettto della email è obbligatorio
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="competition-description" class="col-sm-6 col-form-label">Corpo</label>
        <div class="col-sm-12">
          <angular-editor name="competition-email" formControlName="EmailBody" [config]="emailBodyEditorConfig" required></angular-editor>
          <div *ngIf="formSubmittedAtLeastOnce && emailBody!.invalid" class="alert alert-danger">
            <div *ngIf="emailBody!.errors?.['required']">
              Il corpo della email è obbligatorio
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-2">
      <div class="col-sm-12 float-end">
        <button type="submit" class="btn btn-primary float-end" [disabled]="SaveButtonDisabled">Salva</button>
      </div>
    </div>
  </form>
</div>

