<button type="button" class="btn btn-secondary" (click)="open(mymodal)">
  <i class="fa fa-plus"></i>&nbsp;Gara
</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Crea una nuova gara</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="OnCreateClick()" novalidate>
      <div class="form-group mb-2">
        <label for="new-competition-title" class="col-sm-2 col-form-label">Titolo</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" name="new-competition-title" formControlName="Title" required />
          <div *ngIf="formSubmittedAtLeastOnce && title!.invalid" class="alert alert-danger">
            <div *ngIf="title!.errors?.['required']">
             Il titolo è obbligatorio.
            </div>
          </div>
        </div>
      </div>
      <div class="input-group mb-2 mr-sm-2">
        <label for="new-competition-date" class="col-md-12 col-form-label">Data</label>
        <div class="input-group-append">
          <div class="input-group-text"
               (click)="d.toggle()">
            &nbsp;<i class="fa fa-calendar"></i>&nbsp;
          </div>
        </div>
        <input type="text"
               autocomplete="off"
               ngbDatepicker
               #d="ngbDatepicker"
               (click)="d.toggle()"
               class="form-control"
               formControlName="Date"
               name="new-competition-date"
               placeholder="Seleziona una data">
        <div *ngIf="formSubmittedAtLeastOnce && date!.invalid" class=" col-md-12 alert alert-danger">
          <div *ngIf="date!.errors?.['required']">
           La data è obbligatoria.
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <div class="col-sm-12 float-end">
          <button type="submit" class="btn btn-primary float-end" [disabled]="CreateButtonDisabled">Crea</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
