/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';


.bg-white {
  background-color: white;
  border: 1px solid #CCC;
  color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
    background-color: rgb(255, 193, 7);
}

.bg-red {
  background-color: red;
}

.bg-black {
  background-color: green;
}





.problem-white {
  background-color: #FFF !important;
  color: black !important;
  border: 1px solid #CCC;
}

.problem-blue {
  background-color: #00F !important;
  color: white !important;
  border: 1px solid #00F;
}

.problem-green {
  background-color: #0F0 !important;
  color: white !important;
  border: 1px solid #0F0;
}

.problem-yellow {
  background-color: #FF0 !important;
  color: black !important;
  border: 1px solid #FF0;
}

.problem-red {
  background-color: #F00 !important;
  color: white !important;
  border: 1px solid #F00;
}

.problem-black {
  background-color: #000 !important;
  color: white !important;
  border: 1px solid #000;
}
