<div class="row" *ngIf="Competition.RankingsVisibility">
  <div class="col-md-9">
    <h3>{{ GetSectionTitle() }}</h3>
  </div>

  <div class="col-md-3">
    <div class="input-group mb-3">
      <select class="form-select" [(ngModel)]="rankingType" (ngModelChange)="OnRankingTypeChange($event)">
        <option [value]="RankingTypes.GENERAL">Generale</option>
        <option [value]="RankingTypes.MAN">Maschile</option>
        <option [value]="RankingTypes.WOMAN">Femminile</option>
      </select>
    </div>
  </div>

  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Parteciante</th>
          <th scope="col">Punteggio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rank of ranking">
          <th scope="row">{{ rank.Position }}</th>
          <td>{{ rank.Surname }} {{ rank.Name }}</td>
          <td>{{ rank.Score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="!Competition.RankingsVisibility">
  <div class="alert alert-warning text-center" role="alert">
    Le classifiche saranno disponibili una volta terminata la gara!
  </div>
</div>
