<ng-container *ngIf="ready">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-1">
    <h4 class="h4">
      {{Competition.Title}} {{DateUtils.FormatDate(Competition.Date, "DD-MM-YYYY")}}
    </h4>

    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button"
              (click)="OnUnsubscribe()"
              class="btn btn-danger">
        <i class="fa fa-trash"></i>&nbsp;Cancella iscrizione
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
    <p>
      John Doe
    </p>
  </div>


  <ul class="nav nav-tabs mb-5">
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.PROBLEMS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.PROBLEMS)}}">Blocchi</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.RANKINGS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.RANKINGS)}}">Classifiche</a>
    </li>
  </ul>


  <app-competition-problems *ngIf="IsTabContentVisible(CompetitionComponentTabs.PROBLEMS)"
                            [CompetitionId]="competitionId"
                            [UserId]="userId">
  </app-competition-problems>

  <app-competition-rankings *ngIf="IsTabContentVisible(CompetitionComponentTabs.RANKINGS)"></app-competition-rankings>
</ng-container>

