<ng-container *ngIf="ready">
  <div class="row">
    <div class="col-md-9">
      <h4>
        {{Competition.Title}}
        <app-competition-state-label [State]="Competition.State"></app-competition-state-label>
      </h4>
      <h5>{{DateUtils.FormatDate(Competition.EventDate, "DD-MM-YYYY")}}</h5>
    </div>

    <div class="col-md-3 text-end">
      <button type="button"
              (click)="OnUnsubscribeClick()"
              class="btn btn-danger">
        <i class="fa fa-trash"></i>&nbsp;Cancella iscrizione
      </button>
    </div>
  </div>


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
    <p>
      {{Athlete.Name}} {{Athlete.Surname}}
    </p>
  </div>


  <ul class="nav nav-tabs mb-5">
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.INFO)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.INFO)}}">Info</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.PROBLEMS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.PROBLEMS)}}">Blocchi</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.RANKINGS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.RANKINGS)}}">Classifiche</a>
    </li>
  </ul>

  <app-competition-info *ngIf="IsTabContentVisible(CompetitionComponentTabs.INFO)"
                        [Competition]="Competition">
  </app-competition-info>

  <app-competition-problems *ngIf="IsTabContentVisible(CompetitionComponentTabs.PROBLEMS)"
                            [Competition]="Competition"
                            [Athlete]="Athlete">
  </app-competition-problems>

  <app-competition-rankings *ngIf="IsTabContentVisible(CompetitionComponentTabs.RANKINGS)"
                            [Competition]="Competition">
  </app-competition-rankings>
</ng-container>

