<ng-container *ngIf="competition">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h4">
      {{competition.title}}&nbsp;
      <app-competition-state-label [State]="competition.state">
      </app-competition-state-label>
    </h4>

    <div class="btn-toolbar mb-2 mb-md-0">

      <button type="button"
              (click)="OnDeleteCompetitionClick()"
              class="btn btn-danger">
        <i class="fa fa-trash"></i>&nbsp;Cancella gara
      </button>&nbsp;
      <div class="btn-group me-2">
        <button *ngIf="IsCloseButtonVisible()" (click)="OnCloseCompetitionButtonClick()" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-lock">&nbsp;</i>Termina</button>
        <button *ngIf="IsStartButtonVisible()" (click)="OnStartCompetitionButtonClick()" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-play">&nbsp;</i>Inizia</button>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mb-3">
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.INFO_GARA)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.INFO_GARA)}}">Info Gara</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.ATHLETES)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.ATHLETES)}}">Partecipanti</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.PROBLEMS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.PROBLEMS)}}">Blocchi</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.RANKINGS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.RANKINGS)}}">Risultati e classifiche</a>
    </li>
  </ul>

  <app-competition-info-gara *ngIf="IsTabContentVisible(CompetitionComponentTabs.INFO_GARA)"
                             [CompetitionId]="competitionId">
  </app-competition-info-gara>

  <app-competition-athletes *ngIf="IsTabContentVisible(CompetitionComponentTabs.ATHLETES)"
                            [Competition]="competition">
  </app-competition-athletes>
  <app-competition-problems *ngIf="IsTabContentVisible(CompetitionComponentTabs.PROBLEMS)"
                            [CompetitionId]="competition.id">
  </app-competition-problems>

  <app-competition-results-rankings *ngIf="IsTabContentVisible(CompetitionComponentTabs.RANKINGS)"
                            [Competition]="competition">
  </app-competition-results-rankings>
</ng-container>

