<ng-container *ngIf="competition">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h4">{{competition.Title}}</h4>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>


  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.RESULTS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.RESULTS)}}">Partecipanti</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.PROBLEMS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.PROBLEMS)}}">Blocchi</a>
    </li>
    <li class="nav-item" (click)="OnTabClick(CompetitionComponentTabs.PROBLEMS)">
      <a class="nav-link {{TabActiveClass(CompetitionComponentTabs.PROBLEMS)}}">Classifiche</a>
    </li>
  </ul>

  <app-competition-results *ngIf="IsTabContentVisible(CompetitionComponentTabs.RESULTS)"
                           [competition]="competition">
  </app-competition-results>
  <app-competition-problems *ngIf="IsTabContentVisible(CompetitionComponentTabs.PROBLEMS)"
                            [competition]="competition">
  </app-competition-problems>

</ng-container>

