<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <span>Totale partecipanti: {{totalAthletesNumber}} ({{totalMinorAthletes}} minore/i)</span>
      <div class="btn-group float-end" role="group">
        <button type="button" class="btn btn-secondary" (click)="athletemodal.Open()">
          <i class="fa fa-plus"></i>&nbsp;Partecipante
        </button>
        <button type="button" class="btn btn-secondary" (click)="OnDownloadAllConsentsClick()">
          <i class="fa fa-download"></i>&nbsp;Delibere
        </button>
        <button type="button" class="btn btn-secondary" (click)="OnDownloadButtonClick()" title="Scarica un file Excel contenente tutti i partecipanti">
          <i class="fa fa-download"></i>&nbsp;Lista partecipanti
        </button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Cognome</th>
        <th>Nome</th>
        <th>Data di nascita</th>
        <th>Sesso</th>
        <th>Email</th>
        <th class="text-center">Minore</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let athlete of athletes">
        <tr class="{{GetGenderRowClass(athlete.Gender)}}">
          <td>
            {{athlete.Surname}}
          </td>
          <td>
            {{athlete.Name}}
          </td>
          <td>{{DateUtils.FormatDate(athlete.BirthDate, "DD-MM-YYYY")}}</td>
          <td>
            <i class="fa {{GetGenderCellClass(athlete.Gender)}}"></i>
          </td>
          <td>
            {{athlete.Email}}
          </td>
          <td class="text-center">
            <i class="fa {{GetMinorCellClass(athlete.IsMinor)}}"></i>
          </td>
          <td>
            <div class="btn-group float-end" role="group">
              <button type="button" class="btn btn-primary" (click)="OnDownloadConsentClick(athlete)" title="Scarica la delibera"><i class="fa fa-file-text"></i></button>&nbsp;
              <button type="button" class="btn btn-primary" (click)="OnSendEmailClick(athlete)" title="Reinvia email di registrazione"><i class="fa fa-envelope"></i></button>&nbsp;
              <button type="button" class="btn btn-primary" (click)="OnDeleteAthleteClick(athlete)"><i class="fa fa-eraser"></i></button>&nbsp;
              <button type="button" class="btn btn-primary" (click)="editathletemodal.open(athlete)"><i class="fa fa-edit"></i></button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<app-add-athlete-to-competition-modal #athletemodal
                                      [CompetitionId]="Competition.Id">
</app-add-athlete-to-competition-modal>

<app-edit-athlete-modal #editathletemodal></app-edit-athlete-modal>
