<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group float-end" role="group">
        <app-new-competition-button></app-new-competition-button>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <tbody>
      <tr *ngFor="let competition of competitions">
        <td>{{competition.Title}}</td>
        <td>{{DateUtils.FormatDate(competition.Date, "DD-MM-YYYY")}}</td>
        <td>
          <span class="badge {{CompetitionsUtils.StateToCssClass(competition.State)}}">
            {{CompetitionsUtils.StateToString(competition.State)}}
          </span>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="OnViewCompetitionClick(competition)"><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-primary"><i class="fa fa-eraser"></i></button>
            <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
          </div>
        </td>
      </tr>
  </tbody>
</table>
