<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group float-end" role="group">
        <app-new-competition-button (onCompetitionCreated)="OnCompetitionCreated()">
        </app-new-competition-button>
      </div>
    </div>
  </div>
</div>

<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Cerca:</label>
    <div class="col-xs-3 col-sm-auto">
      <input class="form-control" type="text" [formControl]="textFilter">
    </div>
  </div>
</form>

<table class="table table-striped competitions-table">
  <thead>
    <tr>
      <th sortable="titolo" (click)="onSort($event)">Gara</th>
      <th sortable="data" (click)="onSort($event)">Data</th>
      <th sortable="stato" (click)="onSort($event)">Stato</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let competition of competitions">
        <td>{{competition.title}}</td>
        <td>{{DateUtils.FormatDate(competition.event_date, "DD-MM-YYYY")}}</td>
        <td>
          <app-competition-state-label [State]="competition.state">
          </app-competition-state-label>
        </td>
        <td>
          <div class="btn-group float-end" role="group">
            <button *ngIf="IsViewButtonVisible(competition.state)" type="button" class="btn btn-primary" (click)="OnViewCompetitionClick(competition)" title="Visualizza"><i class="fa fa-eye" ></i></button>
            <button *ngIf="IsEditButtonVisible(competition.state)" type="button" class="btn btn-primary" (click)="OnViewCompetitionClick(competition)" title="Modifica"><i class="fa fa-edit"></i></button>
            <button (click)="OnDeleteCompetitionClick(competition.id)" type="button" class="btn btn-primary"><i class="fa fa-eraser" title="Cancella"></i></button>
          </div>
        </td>
      </tr>
  </tbody>
</table>
