th:first-child, td:first-child {
  position: sticky;
  left: 0px;
  background-color: white;
}

.competition-results-container {
    overflow: auto;
}

.header-problem-name,
.header-problem-score {
    display: block;
}

.header-problem-score {
  font-size: 0.8rem;
} 
