th:first-child, td:first-child {
  position: sticky;
  left: 0px;
  background-color: white;
}

thead {
    position: sticky;
    top:0;
    background-color: white;
}

.competition-results-container {
  overflow: auto;
  height: 500px;
}

.header-problem-name {
  display: block;
}

.aggiorna-risultati {
  float: right !important;
}

@media only screen and (max-width: 550px) {
  .aggiorna-risultati {
    float: left !important;
  }
}
